
{{ content }}
{% if button_exist == true %}
    <div class="reveal_parent_button">
        <button type="button" class="quiz_answer items-content-show">
        Show answer
        </button>
    </div>
{% endif %}

<div class="try-again-button d-none"> 
    <button type="button" class="try-again"> Try again </button> 
</div>
