	

<div class="col-sm-6 col-md-6 pr-mobile">
	<a href="{{content.field_home_inner_section_link_2.0['#url']}}" class="box-2">
		<div class="row m-0">
			<div class="col-md-6 pl-0 pr-0">
				<div class="boxImage2">
					<img src="{{file_url(paragraph.field_home_inner_section_image_2.entity.uri.value)}}" class="img-fluid" alt="{{paragraph.field_home_inner_section_image_2.alt}}" />
				</div>
			</div>
			<div class="col-md-6 pl-0 pr-0">
				<div class="box-lower2">
					<h3>{{ content.field_home_inner_section_title_2}}</h3>
				</div>
			</div>
		</div>
	</a>
</div>   
