
<div class="drag-drop-box">
	<div class="drop-content">
        <ul id="sortable1" class="connectedSortable">
           <li class="ui-state-default" id="{{paragraph.field_drag_drop_paragraph_value.value}}"><a herf="javascript:void(0)">{{content.field_drag_drop_paragraph_word}}</a></li>
        </ul>
    </div>
</div>

