<div class="w-100">
    <a href="{{ content.field_page_url[0]['#url'] }}" class="box-4 {{ field_class }} ">
    <div class="box-lower4">
    <h2>{{  content.field_heading  }}</h2>
    <div class="text-right h-100"><img src="/{{ base_path ~ directory }}/research/img/arrow-right.png" alt="image"></div>
    </div>
    </a>
    </div>