
<div class="right-sidebar">
    <h4>{{  content.field_practice_analysis_title  }}</h4>
    {{ content.field_practice_analysis_descript }}
    <div class="btn-group mb-3">
        <a href="#" class="top-link bgthdsf">
            <b class="pr-3 dgfss">Use StatsCloud</b>
            <span class="btnddd" ><i class="fa fa-external-link" aria-hidden="true"></i></span>
        </a>
        <a href="#" class="top-link bgthdsf">
            <b class="pr-3 dgfss">Download data</b>
            <span class="btnddd"><i class="fa fa-download" aria-hidden="true"></i></span>
        </a>    
    </div>

    <div class="bg-white w-100 p-4">
      {{  content.field_practice_answer  }}
    </div>
</div>
