
<!-- <div class="drag-drop-box">

    <div class="drop-content">
        <ul id="sortable1" class="connectedSortable">
           <li class="ui-state-default" id="{{paragraph.field_drag_drop_answer_table.value}}">{{content.field_drag_drop_answer_table}} </li>
        </ul>
    </div>
    
    <div class="drop-content">
        {{content.field_drag_drop_question_table}} 
    </div>

    <div class="drop-content"> 
        <ul id="sortable2" class="connectedSortable"> </ul>
    </div>

</div>
     